body{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    background-color: black !important;
}
/* Tirando efeitos*/
li{
    list-style: none;
}

.sidebar a{
    text-decoration: none;
}
/*-----------------*/

/*Sidebar*/
nav{
    position: absolute;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    left: 0;
    width: 70px;
    overflow: hidden;
    transition: width 0.4s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
/*--------------------*/


/*Sidebar itens*/
.img-perfil img{
    width: 50px;
    display: none;
}
.perfil-text, .warning, .iconsName, #icons-a, .iconsName-a, #icons-f, .iconsName-f{
    display: none;
}

.sidebar{
    margin-top: 40px;  
}
#icons{
  color: #8c8c8c;
  margin-top: 35px;
  text-align: center;
}

#icons-n{
  color: #8c8c8c;
  margin-top: 90px;
}
.icons .notifications{
    margin-top: 40px !important;
}
/*--------------------------------*/

/*Hover sidebar itens*/
nav:hover{
    width: 1250px;
    background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.2),
    rgba(20, 20, 20, 0.2), 
    rgba(20, 20, 20, 1));
}

nav:hover .sidebar{
    margin-top: 30px;
}
/*-------------------*/

/*Hover icons sidebar*/
nav:hover #icons{
    margin: 0;
    color: white;
}

nav:hover #icons-n{
    margin-top: 30px;
    color: white;
}

nav:hover #icons-a{
    color: white;
    display: block;
    margin: 0;
    transform: translate(900px, -45px);
}
nav:hover #icons-f{
    color: white;
    display: block;
    margin: 0;
    transform: translate(1045px, -85px);
}

/*Hover icons name and other texts*/
nav:hover .iconsName{
    color: #8c8c8c;
    display: block;
    width: 250px;
    transform: translate(40px, -25px);
}

nav .iconsName:hover{
    color: white; 
}


nav:hover .iconsName-a{
    color: white;
    display: block;
    transform: translate(925px, -65px);
}

nav:hover .iconsName-f{
    color: white;
    display: block;
    transform: translate(1075px, -105px);
}


nav:hover .warning{
    color: #8c8c8c;
    display: block;
    margin: 0;
    transform: translate(50px, -122px);
}
nav:hover .perfil-text{
    display: block;
    color: white;
    margin: 0;
    transform: translate(50px, -122px);

}
nav:hover #kids{
    transform: translate(50px, -115px);
}

nav:hover .warning{
    font-size: 12px;
}
/*------------------------------------*/

/*Hover img*/
nav:hover .img-perfil img{
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    width: 40px;
    
}

nav .img-perfil img:hover{
    border: solid 2px;
    color: white;
    width: 45px;
    height: 45px;
}
/*--------------------*/

/* banner and logo N                                             */
.logo-netflix{
    margin-left: 1100px;
    margin-top: 550px;
    position: absolute;
    position: fixed;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
.banner{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
/*------------------------------------------------------------------*/

/*                        Catalogue                   */
.categorias{
    margin-top: 10px;
}

.banner img{
    width: 1274px;
    height: 500px;
    margin-left: 75px;
}

.slider{
    margin-top: .8rem;
    display: flex;
    overflow: hidden;
    left: 3.75rem;
    right: 0;
}
/*-----------------------------------------------------*/

/*             img catalogue, hover img and span          */
.series{
    margin-left: 70px;
}
.series img{
    width: 200px;
    margin-left: 5px;
}
.series .wandinha{
    width: 210px;
}
.series .inside{
    width: 210px;
}
.series .cangaceiro{
    width: 190px;
}
.series .sandman{
    width: 190px;
}

.series img:hover{
    border: 2px solid;
    color: white;
    cursor: pointer;
}
.categorias span{
    color: #8c8c8c;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 74px;
    font-size: 20px;
}
/*---------------------------------------------------------*/