body{
    background-color: black !important;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
main{
    display: flex;
}

.main-screen{
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0;
    margin-left: 100px;
    margin-top: 50px;
    position: absolute;
    width: 100vw; 
}

/*Configuração do icon e texto / icon and text config*/
i{
    color: white;
    justify-content: center;
    margin-left: 30px;
    margin-top: 30px;
    width: 100px;
}

.subtitle{
    color: #8c8c8c;
    font-size: 23px;
    margin-top: 5px;
}

/*-----------------------------------*/

/*Área dos icons / icons area*/
.icons{
    align-items: center;
    border: 2px solid #8c8c8c;
    border-radius: 10px;
    cursor: pointer;
    height: 100px;
    justify-content: center;
    margin-left: 40px;
    margin-top: 15px;
    padding: 10px 10px;
    width: 100px;  
}

.icons:hover{
    border: 2px solid white;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.5s;
}

.icons h4{
    color: white;
    cursor: pointer;
    display: none;
    width: 200px; 
}

.icons:hover h4{
    display: block;
    margin-bottom: 10px;
    transform: translate(100px, -30px);
}
/*---------------------------------------*/

/*Área dos perfis / profile area*/
.perfil-item{
    width: 100px;
}

.perfis img {
   border-radius: 10px;
   cursor: pointer;
   display: flex;
   margin-top: 15px;
   margin-bottom: 10px;
   margin-left: 40px;
   width: 100px;
}

.perfis img:hover{
    border: 2px solid white;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.2s;
}

.perfis h4{
    color: white;
    cursor: pointer;
    display: none;
    transform: translate(40px, -40px);
}

.perfis:hover h4{
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
    transform: translate(160px, -110px);
}
/*-----------------------------------------*/

/*Configurações do carousel / carousel configs*/
.carousel-slide{
    position: relative;
}

.carousel-item img{
    width: 109vw !important;
    height: 109vh !important;
}

.n-logo img{
    position: absolute;
    width: 40px;
    left: 68.5%;
    bottom: 31%;
}
.carousel-caption{
    margin-left: 48% !important;
    margin-bottom: 60px !important;
}

.carousel-caption h6{
    margin-bottom: 8px;
    font-weight: bold;
}

.carousel-caption img{
    width: 200px !important;
    height: 50px !important;
    align-items: center;
    margin-top: 9px;
    margin-right: 10px;
    
}
.carousel-caption #cuphead{
    width: 200px !important;
    height: 55px !important;
    margin-top: 5px;
}
.carousel-caption p{
    width: 400px;
    font-size: 15px;
}
.carousel-caption i{
    color:#8c8c8c;
    width: 10px;
    font-size: 10px;
    margin-left: 2px;

}
/*-----------------------------------------------------*/



